/******************
*页面样式
*******************/

/*=================
  基本默认值
  ================*/

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-size: 625%;
    color: #222;
}


::selection {
    background-color: #b3d4fc;
    text-shadow: none;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

/*=================
  工具样式
  ================*/

.center-block {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.pull-right {
    float: right !important;
}

.pull-left {
    float: left !important;
}

.text-right {
    text-align: right !important;
}

.text-left {
    text-align: left !important;
}

.text-center {
    text-align: center !important;
}

.hide {
    display: none !important; /*会挤占元素的空间*/
}

.show {
    display: block !important;
}

.invisible {
    visibility: hidden; /*隐藏了不会挤占元素的空间*/
}

.text-hide {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/* ==============
   浏览器更新提示
   ==============*/

.browserupgrade {
    margin: 0;
    padding: 0.1rem;
    background: #ccc;
}

/* ==============
   自定义页面样式
   ==============*/

body {
    line-height: 1.5;
    color: #000;
    background-color: #fff;
    font: 300 21px Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-shadow: 0 1px 1px rgba(0,0,0,0.5);
}

body .grid {
    max-width: 978px;
    margin: 0 auto;
    width: 100%;
}

.grid:before, .grid:after {
    display: table;
    content: "";
    line-height: 0;
}

.grid:after {
    clear: both;
}

.grid .unit:first-child {
    padding-left: 20px;
}

.grid .unit:last-child {
    padding-right: 20px;
}

.grid .one-third {
    width: 33.33332%;
}
.grid .two-thirds {
    width: 66.66665%;
}

h2 {
    color: #6f1326;
}

/* ==============
   header 样式
   ==============*/

header {
    background-color: #6f1326;
    padding: 31px 0;
}

header .icon {
    margin: 0 auto;
    width: 40%;
}

header .icon img {
    width: 100%;
}

/* ==============
   section.attract 样式
   ==============*/

.attract .content {
    padding: 46px 0 10px;
}

.attract p {
    font-size: 3em;
    margin: 0;
    color: #6f1326;
}

/* ==============
   section.intro 样式
   ==============*/

.intro .unit {
    padding: 10px;
    float: left;
}

.intro .unit:first-child em {
    font-weight: bold;
}

/* ==============
   section.activities 样式
   ==============*/

.activities {
}

/* ==============
   footer 样式
   ==============*/

footer {
    font-size: 16px;
    background-color: #6f1326;
    color: #ffffff;
}

footer .unit {
    float: left;
}

footer .unit:first-child {
    padding: 20px 0;
}

footer p {
    margin: 0.5em 0;
    opacity: 0.8;
}

footer .unit:last-child {
    /*position: relative;*/
}

footer .image-pane {
    max-width: 79px;
    max-height: 75px;
    float: right;
    margin-top: 28px;
    /*position: absolute;*/
    /*right: 0;*/
}
